server:
  port: 9091

logging:
  level:
    "org.zalando.logbook": TRACE

spring:
  sql:
    init:
      mode: always
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/stat
    username: stat
    password: stat